@charset "UTF-8";
$errorRed:#fc2736;
$mainColor:#3daea7;
$hoverColor:#369b95;
$borderHard:#d5d5d5;
$borderLight:#eeeeee;
$textHard:#555555;
$textLight:#999999;
$laberBgc:#f9fbfe;
$rowHeight:46px;
$errorBg:#ffe9eb;
$attentionColor:#ff7044;
$defaultColor:#999999;
$savedColor:#555555;
$calculatedColor:#eb6100;
$normalText:#d5d5d5;
$borderHard:#d5d5d5;
$blueColor:#3daea7;
$lineColor:#d5d5d5;
$mainColor:#3daea7;
$hoverColor:#369b95;
$borderHard:#d5d5d5;
$borderLight:#eeeeee;
$textHard:#555555;
$textLight:#999999;
$laberBgc:#f9fbfe;
$errorBg:#ffe9eb;
$numberColor:#ee7a11;
$attentionColor:#ff7044;
$blueColor : #3daea7;
$lineColor : #d5d5d5;
$orange:#ff7044;

